.suoyou{
	background-color:#efefef;
	width:100%;
	height:1255px;
	font-family:"微软雅黑";
}
.suoyou .suoyou-top{
	width:1200px;
	min-width:1200px;
	height:59px;
	line-height:59px;
	margin:0 auto;
	font-size:14px;
}
.suoyou .suoyou-cen{
	width:1200px;
	min-height:710px;
	background-color:white;
	margin:0 auto;
	text-align:center;
	padding-top:30px;
}


.suoyou .suoyou-cen .suoyou-one{
	width:297px;
	height:342px;
	float:left;	
	overflow:hidden;
}


.suoyou .suoyou-cen>a{
	color:#000;
}
.suoyou .suoyou-one>img{
	width:278px;
	height:250px;
	margin-bottom:10px;
	transition:all 0.6s linear;

}
.suoyou .suoyou-one:hover>img{
	transform:scale(1.1);

}

.suoyou .suoyou-one>p{
	font-size:16px;
	margin-top:10px;
	color:red;
}
.pinpai{
	width:100%;
	height:120px;
	background-color:#393939;
	position:relative;
}
.pinpai .pinpai-cen{
	width:1250px;
	height:80px;
	position:absolute;
	top:20px;
	left:12%;
}
.pinpai .pinpai-cen>img{
	width:86px;
	height:50px;
	min-width:86px;
	margin:0 31px;
}
.ye{
	
	float:right;
	margin-right:190px;
}
.ye>li{
	float:left;
	margin-top:30px;
	text-align:center;
	line-height:28px;
	font-size:14px;
}
.ye>li>a{
	display:block;
	width:50px;
	height:28px;
	outline:none;
	border:1px solid black;
	background-color:white;
	border-radius:5px;
	margin-right:5px;
	color:#000;
}
.ye>li:hover>a{
	
	color:white;
	background-color:#000;
}
.ye li a.hover{
	color:white;
	background-color:#000;
}
.xia{
	display:none;
}
.shang{
	display:none;
}