
.zhongxin-left{
    border:1px solid black;
    height: 352px;
    margin-top: 100px;
}
.zhongxin-left .geren{
    border-bottom: 1px solid #999;
    margin-top: 10px;
    padding-bottom: 10px;
     padding-left: 15px;
}
.zhongxin-left .geren>span{
    display: block;
    float: left;
    width:70px;
    height:70px;
    border-radius: 35px;    
    border:1px solid red;
}
.zhongxin-left .geren>p:nth-child(2){
    margin-top: 10px;
    font-size: 18px;
    padding-left: 15px;
}
.zhongxin-left .geren>p:nth-child(3){
    border:1px solid #666;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}
.zhongxin-left .xiugai>p{
    margin-top: 15px;
    padding: 10px 0 5px 0;
    border-bottom: 1px solid #666;
    text-align: center; 
    font-size: 16px;  
}
.zhongxin-you{
    border:1px solid black;
    margin-top: 100px;
    margin-left: 25px;
}
.zhongxin-right>p:first-child{
    font-size: 18px; 
    padding:10px 0 5px 20px; 
    border-bottom: 1px solid #999;  
}
.zhongxin-right .qingkuang{
    font-size: 16px;
    border-bottom:1px solid #999; 
    padding:5px 0px 10px 15px;
}
.zhongxin-right .dingdan{
    border:1px solid #666;
    margin:10px 30px 0 30px;
}
.zhongxin-right .dingdan .dingdan-top{
    border-bottom: 1px solid #666;
}
.zhongxin-right .dingdan .dingdan-top>p:first-child{
    font-size: 16px;
    text-align: left;
    padding:5px 15px;
}
.zhongxin-right .dingdan .dingdan-top>p:last-child{
    font-size: 16px;
    text-align: right;
    padding:5px 15px; 
}
.zhongxin-right .dingdan .dingdan-cen{
    border-bottom:1px solid #666;
}
.zhongxin-right .dingdan .dingdan-cen>img{
    margin:5px 10px;
}
.zhongxin-right .dingdan .dingdan-cen>p:nth-child(2){
    line-height: 118.52px;
    font-size: 14px;
}
.zhongxin-right .dingdan .dingdan-cen>p:nth-child(3){
    line-height: 118.52px;
    font-size: 14px;
    text-align: right;
    margin-left: 30px;
}
.zhongxin-right .dingdan .dingdan-cen>p:nth-child(4){
    line-height: 118.52px;
    font-size: 14px;
    text-align: right;   
}
.zhongxin-right .dingdan .dingdan-bottom>a{
    display: inline-block;
    text-align: center;
    float:right;
    color:black;
    padding: 5px;
}